/* CSS Document */

button {
    background-color: #D12326;
	border-radius: 12px;
    color: cornsilk;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
}

h1{
	display:inline;
}
h2{
	display:inline;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
	width: auto;
}

.container {
	text-align: center;
	border:solid;
	padding: 16px;
	font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
}

.avatar {
	display:block;
	margin-left:auto;
	margin-right:auto;
	width: 200px;
	height: 200px;
}

.menu {
	
    width: 500px;
    list-style: none;
    margin: 0 0 2em;
    padding: 0;
    font: 150%/100% Arial, Helvetica, sans-serif;
}

.menu li {
	text-align:center;
	clear: both;
    margin: 0;
    padding: 0 0 1.8em 0;
    position: relative;
    border-bottom: dotted 2px #111111;
}

.menu strong {
  background: #fff;
  padding: 0 10px 0 0;
  font-weight: normal;
  position: absolute;
  bottom: -.3em;
  left: 0;
}
.menu em {
  background: #fff;
  padding: 0 0 0 5px;
  font: 110%/100% Georgia, "Times New Roman", Times, serif;
  position: absolute;
  bottom: -.2em;
  right: 0;
}
.menu sup {
  font-size: 60%;
  color: #666;
  margin-left: 3px;
}

